<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload History</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/history.css') }}" />
</head>
<body>
    <header>
        <div id="headerContainer">
            <a href="{{ url_for('index') }}"><h1>Speech to Text Transcriber</h1></a>
            <a href="{{ url_for('upload_page') }}" class="history-link">UPLOAD</a>
            <a href="{{ url_for('rec_page') }}" class="history-link">RECORD</a>
            <a href="{{ url_for('history') }}" class="history-link">View Uploaded History</a>
        </div>
    </header>
<div id="historyContainer">
    <h1>Upload History</h1>
    <table border="1">
        <tr>
            <th>Filename</th>
            <th>Transcript</th>
            <th>Timestamp</th>
            <th>Audio</th>
        </tr>
        {% for upload in uploads %}
        <tr>
            <td>{{ upload.filename }}</td>
            <td>{{ upload.transcript }}</td>
            <td>{{ upload.timestamp }}</td>
            <td>
                <audio controls>
                    <source src="{{ url_for('uploaded_file', filename=upload.filename) }}" type="audio/mp3">
                    Your browser does not support the audio element.
                </audio>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{{ url_for('index') }}">Back to Home</a>
</div>

</body>
</html>
