!DOCTYPE
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech to Text</title>
</head>
<body>
    <h1>Speech to Text</h1>
    <a href="{{ url_for('history') }}" class="history-link">View Upload History</a>
    <a href="{{ url_for('upload_page') }}" class="history-link">uploading</a>
    <div id="transcription"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
